@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
</style>
/* font-family: 'Lato', sans-serif; */

*{
    margin:0;
    padding:0;
}
header{
    background-color: #f9f9f9;
   padding:20px 0px;}
.header-wrapper{
    width: 80%;
    margin:auto;
    display:flex;
justify-content: space-between;
align-items: center;
}
.logo{
   width: 20%; 
  
}
.logo img{

}
nav{width: 40%;}
nav ul{display: flex;justify-content: space-between;/* justify-content: space-around; *//* justify-content: space-evenly; */}
nav ul li{
    font-family: 'Lato', sans-serif; 
list-style: none;
}
nav ul li a{

color: #2d3950;

text-decoration: none;

text-transform: uppercase;
}
.banner{
    background-image: url(../images/banner.png );
    background-size: cover;
    min-height: 600px;
    background-position:center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.banner span{
    
display: inline-block;
    
height: 2px;
    
width: 450px;
    
background-color: #1799ea;
}
.banner h1{
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 90px;
    margin: 0px;
    margin-bottom: 10px;
}
.banner p{
    font-family: 'Lato', sans-serif;
color: #ffff;

margin-top: 20px;

margin-bottom: 40px;
}
.banner button{
    font-family: 'Lato', sans-serif;
    background: transparent;
    border: none;
    border: 1px solid #1799ea;
    color: #ffff;
    padding: 12px 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.banner button:hover{
    background-color: #1799ea;
}
.banner-content{
    text-align: center;
}
.arrow-icon{
    position:absolute;
    top: 90%;
    left: 50%;
transform: translateX(-50%);
    color: #ffffff;
    animation:updown 0.8s linear infinite ;
}
@keyframes updown{
0%{
    top: 90%;
}
100%{
    top:80%;
}
}
.simple{
    background-color: #f9f9f9;
    padding: 50px 0px;}
.simple-content{
    width:80%;
    margin:auto;
    text-align: center;
}
.simple-content h2{
color: #2d3950;
font-family: 'Lato', sans-serif;  
font-size: 40px;
}
.simple-content p{
   color: #999999;
   font-size: 18px;
   font-family: 'Lato', sans-serif;
}
.feature{width:80%;
    margin: auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-evenly;}
.feature-item{
    width:30%;
    text-align: center;}
.feature-icon{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48baff+0,5fc3ff+50,48baff+50,5fc3ff+100 */
background: #48baff; /* Old browsers */background: -moz-linear-gradient(left,  #48baff 0%, #5fc3ff 50%, #48baff 50%, #5fc3ff 100%); 
/* FF3.6-15 */background: -webkit-linear-gradient(left,  #48baff 0%,#5fc3ff 50%,#48baff 50%,#5fc3ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #48baff 0%,#5fc3ff 50%,#48baff 50%,#5fc3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48baff', endColorstr='#5fc3ff',GradientType=1 ); /* IE6-9 */
height: 100px;
width: 100px;
display: flex;
justify-content: center;
align-items: center;
font-size: 40px;
color:#ffffff;
margin: auto;}
.feature-item h2{
    font-size: 22px;
    color: #2d3950;
}
.feature-item p{
    color: #999999;
    font-size: 19px;
}
.showcase{
    background-color: #f9f9f9;
    padding: 50px 0px;
}
.showcase-heading{
    
width: 80%;
    
margin: auto;
    
text-align: center;
}
.showcase-heading h1{
    font-size: 40px;
    color: #2d3950;
}
.showcase-heading p{
    font-size: 22px;
    color: #2d3950; 
}
.showcase-item{
width: 80%;
margin: auto;
padding: 50px 0px;
display:flex;
justify-content: space-between;
}
.single-item{

width: 30%;

position: relative;
}
.single-item img{
    
width: 100%;
    
height: 100%;
}
.single-item::before{

content: "";

height: 100%;

width: 0%;

background: #1d9cec;

position: absolute;

opacity: 0;
transition:0.4s all ease-in-out;
}
.single-item:hover::before{
opacity: 0.5;
width: 100%;
height:100%;
 }
.single-item ul{
    opacity: 0;
    list-style: none;/* float: left; */
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    padding: 0;}
.single-item li{

float: left;

border: 1px solid white;

padding: 5px;

margin-left: 10px;

}
.single-item li a{
color:#ffffff
}
.single-item ul:hover{
    opacity: 1;
}
.contact{background-image: url(../images/contactbg.png);background-size: cover;background-position: center;background-repeat: no-repeat;min-height: 400px;position: relative;padding-bottom: 70px;}

.contact::before{
    content: "";
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: #2c374a;
    position: absolute;
  opacity: .7;
}




.contact-form{
    padding:50px 0px;
    width: 50%;
    margin:auto;
    text-align: center;
    position:relative;
    /* overflow: hidden; */
}
.contact-form h1{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size:41px;margin-bottom: 10px;/* margin: 0px; */}
.contact-form p{
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 22px;}
.contact-form input{
    font-family: 'Lato', sans-serif;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 10px;
    color: #999999;
    background: transparent;
    border: 1px solid #999999;
}.contact-form textarea{
    font-family: 'Lato', sans-serif;
    width: 100%;
    border: 1px solid #999999;
    background: transparent;
    padding: 10px 0px;
    color:#99999999;
}
.contact-form input[type="submit"]{
    font-family: 'Lato', sans-serif;
    width: auto;
    float:right;
    border: 2px solid #1d9cec;
    padding: 0;
    padding: 10px 30px;
    font-size: 16px;
    margin: 10px 0px;
}
.contact-form input::placeholder{
  color: #999999;  
  text-transform: capitalize;font-family: 'Lato', sans-serif;
padding-left: 10px;
}
.contact-form input:focus{
border-color: #ffff;
outline:none,}
.contact-form textarea:focus{
    border-color: #ffff;
    outline:none;
}
footer{

background-color: #f6f9f9;
}
.@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
</style>
/* font-family: 'Lato', sans-serif; */

*{
    margin:0;
    padding:0;
}
header{
    background-color: #f9f9f9;
   padding:20px 0px;}
.header-wrapper{
    width: 80%;
    margin:auto;
    display:flex;
justify-content: space-between;
align-items: center;
}
.logo{
   width: 20%; 
  
}
.logo img{

}
nav{width: 40%;}
nav ul{display: flex;justify-content: space-between;/* justify-content: space-around; *//* justify-content: space-evenly; */}
nav ul li{
    font-family: 'Lato', sans-serif; 
list-style: none;
}
nav ul li a{

color: #2d3950;

text-decoration: none;

text-transform: uppercase;
}
.banner{
    background-image: url(../images/banner.png );
    background-size: cover;
    min-height: 600px;
    background-position:center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.banner span{
    
display: inline-block;
    
height: 2px;
    
width: 450px;
    
background-color: #1799ea;
}
.banner h1{
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 90px;
    margin: 0px;
    margin-bottom: 10px;
}
.banner p{
    font-family: 'Lato', sans-serif;
color: #ffff;

margin-top: 20px;

margin-bottom: 40px;
}
.banner button{
    font-family: 'Lato', sans-serif;
    background: transparent;
    border: none;
    border: 1px solid #1799ea;
    color: #ffff;
    padding: 12px 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.banner button:hover{
    background-color: #1799ea;
}
.banner-content{
    text-align: center;
}
.arrow-icon{
    position:absolute;
    top: 90%;
    left: 50%;
transform: translateX(-50%);
    color: #ffffff;
    animation:updown 0.8s linear infinite ;
}
@keyframes updown{
0%{
    top: 90%;
}
100%{
    top:80%;
}
}
.simple{
    background-color: #f9f9f9;
    padding: 50px 0px;}
.simple-content{
    width:80%;
    margin:auto;
    text-align: center;
}
.simple-content h2{
color: #2d3950;
font-family: 'Lato', sans-serif;  
font-size: 40px;
}
.simple-content p{
   color: #999999;
   font-size: 18px;
   font-family: 'Lato', sans-serif;
}
.feature{width:80%;
    margin: auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-evenly;}
.feature-item{
    width:30%;
    text-align: center;}
.feature-icon{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48baff+0,5fc3ff+50,48baff+50,5fc3ff+100 */
background: #48baff; /* Old browsers */background: -moz-linear-gradient(left,  #48baff 0%, #5fc3ff 50%, #48baff 50%, #5fc3ff 100%); 
/* FF3.6-15 */background: -webkit-linear-gradient(left,  #48baff 0%,#5fc3ff 50%,#48baff 50%,#5fc3ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #48baff 0%,#5fc3ff 50%,#48baff 50%,#5fc3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48baff', endColorstr='#5fc3ff',GradientType=1 ); /* IE6-9 */
height: 100px;
width: 100px;
display: flex;
justify-content: center;
align-items: center;
font-size: 40px;
color:#ffffff;
margin: auto;}
.feature-item h2{
    font-size: 22px;
    color: #2d3950;
}
.feature-item p{
    color: #999999;
    font-size: 19px;
}
.showcase{
    background-color: #f9f9f9;
    padding: 50px 0px;
}
.showcase-heading{
    
width: 80%;
    
margin: auto;
    
text-align: center;
}
.showcase-heading h1{
    font-size: 40px;
    color: #2d3950;
}
.showcase-heading p{
    font-size: 22px;
    color: #2d3950; 
}
.showcase-item{
width: 80%;
margin: auto;
padding: 50px 0px;
display:flex;
justify-content: space-between;
}
.single-item{

width: 30%;

position: relative;
}
.single-item img{
    
width: 100%;
    
height: 100%;
}
.single-item::before{

content: "";

height: 100%;

width: 0%;

background: #1d9cec;

position: absolute;

opacity: 0;
transition:0.4s all ease-in-out;
}
.single-item:hover::before{
opacity: 0.5;
width: 100%;
height:100%;
 }
.single-item ul{
    opacity: 0;
    list-style: none;/* float: left; */
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    padding: 0;}
.single-item li{

float: left;

border: 1px solid white;

padding: 5px;

margin-left: 10px;

}
.single-item li a{
color:#ffffff
}
.single-item ul:hover{
    opacity: 1;
}
.contact{background-image: url(../images/contactbg.png);background-size: cover;background-position: center;background-repeat: no-repeat;min-height: 400px;position: relative;padding-bottom: 70px;}

.contact::before{
    content: "";
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: #2c374a;
    position: absolute;
  opacity: .7;
}




.contact-form{
    padding:50px 0px;
    width: 50%;
    margin:auto;
    text-align: center;
    position:relative;
    /* overflow: hidden; */
}
.contact-form h1{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size:41px;margin-bottom: 10px;/* margin: 0px; */}
.contact-form p{
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 22px;}
.contact-form input{
    font-family: 'Lato', sans-serif;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 10px;
    color: #999999;
    background: transparent;
    border: 1px solid #999999;
}.contact-form textarea{
    font-family: 'Lato', sans-serif;
    width: 100%;
    border: 1px solid #999999;
    background: transparent;
    padding: 10px 0px;
    color:#99999999;
}
.contact-form input[type="submit"]{
    font-family: 'Lato', sans-serif;
    width: auto;
    float:right;
    border: 2px solid #1d9cec;
    padding: 0;
    padding: 10px 30px;
    font-size: 16px;
    margin: 10px 0px;
}
.contact-form input::placeholder{
  color: #999999;  
  text-transform: capitalize;font-family: 'Lato', sans-serif;
padding-left: 10px;
}
.contact-form input:focus{
border-color: #ffff;
outline:none,}
.contact-form textarea:focus{
    border-color: #ffff;
    outline:none;
}
footer{

background-color: #f6f9f9;

height: 150px;
}
.footer-wrapper{

display: flex;

justify-content: space-between;

width: 80%;

margin: auto;

padding: 40px 0px;

text-align: center;

/* display: list-item; */

align-items: center;
}
.left{

width: 20%;

margin: 0;
}
.footer-wrapper h1{
    font-size: 14px;
    color:#999999;font-family: 'Lato', sans-serif;
}
.right{
    
margin: 0;
}
.footer-wrapper ul{

list-style: none;

display: flex;

justify-content: space-evenly;

width: 50%;



align-items: center;

/* margin-left: 18px; */
}
.footer-wrapper ul li{

/* justify-content: space-evenly; */

margin-left: 5px;

color: white;

background-color: #15a4fa;

padding: 10px;
}
.footer-wrapper ul li i{


display: flex;

justify-content: space-between;

width: 80%;

margin: auto;

}
